name: Just_run_that_goddamn_editor

on: workflow_dispatch

jobs:
  run-unity:
    runs-on: self-hosted

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run Unity Test
        shell: pwsh
        run: |
          .\build_win.ps1

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: Win-Build
          path: build/win