name: Just_run_that_goddamn_editor

on: workflow_dispatch

jobs:
  run-unity:
    runs-on: self-hosted

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run Unity Windows build
        shell: powershell
        run: |
          $unityExe   = "T:\UnityEditor\Editors\6000.0.49f1\Editor\Unity.exe"
          $methodName = "CommandBuild.TEST_BUILD"

          Write-Host $PWD
          Write-Host "=== Unity run starting ==="
          & $unityExe `
            -batchmode `
            -nographics `
            -projectPath "$PWD" `
            -executeMethod $methodName `
            -quit `
            -logFile - 2>&1 |
            Tee-Object -FilePath "unity-run.log"

          $exitCode = $LASTEXITCODE
          Write-Host "=== Unity exited with code $exitCode ==="

          if ($exitCode -ne 0) {
              Write-Error "Unity build failed"
              exit $exitCode
          }