name: Self-hosted runner smoke test

on: workflow_dispatch
  # push:
  #   branches:
  #     - main
  #     - develop
  #     - test


jobs:
  smoke-test:
    runs-on: self-hosted

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Print machine info
        run: |
          echo Hello from self-hosted runner!
          echo Current directory:
          pwd