name: Unity Android Build

on: workflow_dispatch
  # push:
  #   branches:
  #     - main
  #     - develop

jobs:
  build-android:
    runs-on: self-hosted

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run Unity Android Build
        shell: powershell
        run: |
          & " R:\BuildServ\CI_test\actions-runner\build_win.ps1" -BuildMethod "CommandBuild.BuildAndroid" -BuildTarget "Android"

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: Android-Build
          path: build/android

  build-windows:
    runs-on: self-hosted

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run Unity Win Build
        shell: powershell
        run: |
          & " R:\BuildServ\CI_test\actions-runner\build_win.ps1" -BuildMethod "CommandBuild.BuildWindows" -BuildTarget "Win64"

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: Win64-Build
          path: build/win