name: Unity Build Runner

on: workflow_dispatch
  # push:
  #   branches:
  #     - main
  #     - develop

jobs:
  test:
    runs-on: self-hosted
    strategy:
      fail-fast: false
      matrix:
        test-mode:
          - EditMode
          - PlayMode

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
#        with:
#          lfs: true # required only for lfs

      - name: Cache Library Folder
        uses: actions/cache@v3
        with:
          path: Library
          key: Library-Tests-${{ hashFiles('Assets/**', 'Packages/**', 'ProjectSettings/**') }}
          restore-keys: |
            Library-Tests-
            Library-
            
      - name: Run Unity Tests - ${{ matrix.test-mode }}
        shell: powershell
        run: |
          & " R:\BuildServ\TestProj\actions-runner\run-tests.ps1" -TestMode ${{ matrix.test-mode }} -LogFile "unity-build-${{ matrix.platform }}.log"
          
      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results-${{ matrix.test-mode }}-${{ github.run_number }}
          path: |
            test-results-${{ matrix.test-mode }}.xml
            unity-tests-${{ matrix.test-mode }}.log
          retention-days: 3

      - name: Publish Test Report
        if: always()
        uses: dorny/test-reporter@v1
        with:
          name: Unity Tests - ${{ matrix.test-mode }}
          path: test-results-${{ matrix.test-mode }}.xml
          reporter: java-junit
          fail-on-error: true

  build:
    needs: test
    runs-on: self-hosted

    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: Win64
            build-method: CommandBuild.BuildWindows
            build-path: build/windows
            artifact-name: windows-build

          - platform: Android
            build-method: CommandBuild.BuildAndroid
            build-path: build/android
            artifact-name: android-build

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Cache Library Folder
        uses: actions/cache@v3
        with:
          path: Library
          key: Library-${{ matrix.platform }}-${{ hashFiles('Assets/**', 'Packages/**', 'ProjectSettings/**') }}
          restore-keys: |
            Library-${{ matrix.platform }}-
            Library-

      - name: Build Unity Project ${{matrix.platform}}
        shell: powershell
        run: |
          & " R:\BuildServ\TestProj\actions-runner\build.ps1" -BuildTarget "${{matrix.platform}}" -BuildMethod "${{matrix.build-method}}" -LogFile "unity-build-${{ matrix.platform }}.log"

      - name: Upload artifacts ${{matrix.platform}}
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact-name }}-${{ github.run_number }}
          path: |
            ${{ matrix.build-path }}/**
            unity-build-${{ matrix.platform }}.log
          retention-days: 5
          if-no-files-found: warn

      - name: Upload Logs Only (on failure)
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: logs-${{ matrix.platform }}-${{ github.run_number }}
          path: |
            unity-build-${{ matrix.platform }}.log
            Library/Bee/buildreport.json
          retention-days: 3