name: Unity Android Build

on: workflow_dispatch
  # push:
  #   branches:
  #     - main
  #     - develop

jobs:
  build:
    runs-on: self-hosted

    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: Win64
            build-method: CommandBuild.BuildWindows
            build-path: build/windows
            artifact-name: windows-build

          - platform: Android
            build-method: CommandBuild.BuildAndroid
            build-path: build/android
            artifact-name: android-build
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Cache Library Folder
        uses: actions/cache@v3
        with:
          path: Library
          key: Library-${{ matrix.platform }}-${{ hashFiles('Assets/**', 'Packages/**', 'ProjectSettings/**') }}
          restore-keys: |
            Library-${{ matrix.platform }}-
            Library-

      - name: Build Unity Project ${{matrix.platform}}
        shell: powershell
        run: |
          & " R:\BuildServ\TestProj\actions-runner\build.ps1" -BuildTarget "${{matrix.platform}}" -BuildMethod "${{matrix.build-method}}" -LogFile "unity-build-${{ matrix.platform }}.log"

      - name: Upload artifacts ${{matrix.platform}}
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact-name }}-${{ github.run_number }}
          path: |
            ${{ matrix.build-path }}/**
            unity-build-${{ matrix.platform }}.log
          retention-days: 5
          if-no-files-found: warn

      - name: Upload artifacts on fail ${{matrix.platform}}
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: logs-${{ matrix.platform }}-${{ github.run_number }}
          path: |
            unity-build-${{ matrix.platform }}.log
            Library/Bee/buildreport.json
          retention-days: 3